$background-base: #eff1f5;
$background-highlight: #ccd0da;
$background-element: #bcc0cc;

$accent-color: #7287fd;
$accent-error: #d20f39;
$accent-warning: #df8e1d;
$accent-success: #40a02b;

$text-color: #4c4f69;
$text-secondary: #6c6f85;
$text-muted: #8c8fa1;
$text-on-accent: #ffffff;

$shadow-color: rgba(0, 0, 0, 0.1);
$corners-color: #000000;
